@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.card {
    background-image: url("https://assets.ccbp.in/frontend/responsive-website/landing-section-bg.png");
    height: 100vh;
    background-size: cover;
    font-family: "Roboto";
    overflow: auto;
}

.navbar {
    margin-left: auto;
}

.image {
    width: 100px;
}

.nav-color {
    background-color: #0C0521;
}



h1 {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.mid-heading {
    color: #FFDDA9;
}

p {
    font-size: 14px;
    color: white;
    font-weight: 400;
}

.button {
    font-size: 8px;
    background-color: #FFDDA9;
    font-weight: bold;
    border-width: 0;
    height: 40px;
    width: 130px;
}